@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000;
}

.img {
  width: 100%;
  height: auto;
}

.a {
  color: whitesmoke;
  text-decoration: solid;
}

#header div {
  border-bottom: thin solid white;
}

#header {
  background-color: rgba(0, 0, 0, 0.0);
  position: absolute;
  width: 100%;
}

#header .logo {
  margin: 0;
  padding: 5px 5px;
}

.logo img {
  width: 80px;
  height: auto;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  font-size: large;
  font-weight: 10;
}

#header li {
  float: left;
}

#header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

#header li a:hover {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
  font-weight: 400;
}

.logo img:hover {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

#header li.dropdown {
  display: inline-block;
}

#header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#header .dropdown-content a:hover {
  background-color: #f1f1f1;
}

#header .dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width:500px) {

  #header,
  .img {
    width: 100%;
  }

  #header ul {
    font-size: xx-small;
  }
}

img {
  width: 100%;
}

a {
  color: whitesmoke;
  text-decoration: solid;
}

#header div {
  border-bottom: thin solid white;
}

#header {
  background-color: rgba(0, 0, 0, 0.0);
  position: absolute;
}

#header .logo {
  margin: 0;
  padding: 5pt 5pt;
}

.logo img {
  width: 80pt;
  height: auto;
  ;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  font-size: large;
  font-weight: lighter;
}

#header li {
  float: left;
}

#header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10pt 20pt;
  text-decoration: none;
}

/* #header li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: black;
} */

#header li.dropdown {
  display: inline-block;
}

.gambar {
  height: 720px;
  object-fit: cover;
}

#header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}


.container1 .row {
  background-color: #1B211B;
  border-radius: 10px;
}

#header .dropdown-content a:hover {
  background-color: #f1f1f1;
}

#header .dropdown:hover .dropdown-content {
  display: block;
}

.container-text{
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

 .container-text .text-atas {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  word-spacing: 10px;
}


.judul {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.judul .gambar {
  width: 100%;
  height: auto;
}

.judul .title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  width: 771px;
  height: 173px;

  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 173px;
}

.judul .title-overlay h1{

  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 173px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}

.search-bar .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B211B;
  padding: .5em 1em;
  border-radius: 10px;

}

.judul {
  color: #ccc;
  align-items: center;
  justify-content: center;
}


.search-bar .search-container .search {
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.search-bar .search-container .filter-container {
  padding-right: 10px;
  border-right: 2px solid #ccc;
}

.search-bar select {
  width: 10em;
  margin: .3em;
  background-color: #1B211B;
  color: #ccc;
  border: none;
  padding: .5em;
  border-radius: 10px;
  font-size: large;
}


option:hover {
  background-color: #2c342c;
}

.search-bar select:hover {
  background-color: #2c342c;
}

.search-bar input {
  margin-right: 10px;
  padding-left: 2em;
  height: 2.2em;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #fff;
}

.catalog {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1200px;
}

.catalog-item {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #D9D9D9;
}


.catalog {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f0f0f0;
  border-radius: 30px;
  width: 36em;
  height: 31em;
  font-size: medium;
  border: none;
}

.card img {
  float: left;
  border-radius: 30px;
  padding-bottom: 0px;
  padding-right: 10px;
  object-fit: cover;
  width: 15em;
  height: 100em;
}

.card h3 {
  padding-top: 10px;
}

.card .text {
  padding-top: 0px;
}

.card .text .simbol {
  height: 40px;
  width: 40px;
  display: inline;
  justify-content: center;
  padding-left: 8px;

}

.card .text .simbol img {
  padding: 3px;
  height: 25px;
  width: 25px;
  border-radius: 0px;
  object-fit: cover;
}

.card p {
  padding: 0px;
  margin-bottom: 4px;
}

.card .desc {
  padding-top: .5em;
  font-size: medium;
  font-weight: bold;
  color: #424D1F;
}

.card .desc .deskripsi {
  margin-bottom: 10px;
}

.card p {
  width: 17em;
}



select option:hover {
  background-color: black;
  color: white;
}

.card .image1 {
  object-position: 20% 70%;
}

.card .image2 {
  object-position: 45% 70%;
}

.card .image4 {
  object-position: 65% 70%;

}

.card .image6 {
  object-position: 35% 70%;

}

.card .image7 {
  object-position: 53% 70%;


}

.card .image8 {
  object-position: 60% 90%;

}

.card .image9 {
  object-position: 100% 90%;

}

.card .image10 {
  object-position: 80% 90%;

}

.card .image11 {
  object-position: 80% 90%;

}

.card .image12 {
  object-position: 30% 90%;

}

.card .image13 {
  object-position: 10% 90%;


}

.card .image14 {
  object-position: 5% 90%;
}

.card .image16 {
  object-position: 70% 90%;
}

.card .image18 {
  object-position: 30% 90%;
}

.card .image17 {
  object-position: 30% 90%;
}

.card .image15 {
  object-position: 70% 90%;
}

.card h6 {
  padding-bottom: 1em;
  color: #616161;

}

.card h3 {
  font-weight: bold;
}

footer {
  background-color: #1B211B;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 10em;
}

.footer-column1 {
  flex-basis: 33.33%;
}

.footer-column2 {
  display: flex;
  align-items: center;
  justify-items: center;
}

.footer-column2 .contact-list h4{
  font-family: 'Poppins';
  font-size: 35px;
}


.footer-column3 {
  flex-basis: 33.33%;
  display: flex;  
  align-items: center;
  justify-items: center;
}

 .footer-column3 .social-buttons .buttons {
  display: flex;
 }

 .footer-column3 .social-buttons h4 {
  font-family: 'Poppins';
  font-size: 35px;
 }


 .footer-column1 .logo {
  margin-left: 5em;
  width: 25em;
 }

.contact-list {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.contact-list li {
  margin-bottom: 10px;
}

.social-buttons {
  display: flex;
  justify-content: flex-end;
}

.social-button {
  margin-right: 10px;
}

.social-button img {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}